<!DOCTYPE html>
<html lang="en">
  <head></head>
  <script>
    function addItem() {
        var ul = document.getElementById("dynamic list");
        var li = document.createElement("li");
        li.setAttribute('id', "Dynamic Content");
        li.appendChild(document.createTextNode("Dynamic Content"));
        ul.appendChild(li);
    }
  
    function removeItem() {
        document.getElementById("dynamic list").remove();
    }     
  </script> 
  <body> 
<header>
  <button  onclick="addItem()" class="btn btn-add">Add Content</button>
  <button onclick="removeItem()" class="btn btn-rem">Remove dynamic Content</button>
  <ul id="dynamic list">
  </ul>
</header>
<div class="main-contener">

    <aside class="item sidebar">
        <span class="inner-text">
            <button routerLink="/List">Add new user</button>
        </span>
    </aside>

    <main class="item content">
        <span class="inner-text">
          <router-outlet></router-outlet>
            <!--<app-form (userAdded)="users.push($event)"></app-form>
            <app-list></app-list>-->
        </span>
    </main>
    
</div>

<footer>
    <span>footer</span>
</footer>
</body>
</html>
